doctype html 
html(lang="en")

    include ./partials/head.pug

    body#page-top
        block content 

block content
  include ./partials/header.pug
  .app--tweet
    form(method='post', action='/')
        .circle--fluid
          .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
            .app--avatar
            |          
            textarea#tweet-textarea.circle--textarea--input
            |           
            strong#tweet-char.app--tweet--char 140
          |         
          .circle--fluid--cell.align-bottom
            button.button-primary Tweet
  .bounds.app--body
    .app--section--header
        .grid-33
          .app--section--heading
            h2 Timeline
        |         
        .grid-33
          .app--section--heading
            |             
            h2 Following
        |         
        .grid-33
          .app--section--heading
            h2 Direct Messages
    include ./partials/timeline.pug
    include ./partials/friends.pug
    include ./partials/message.pug