head 
	meta(charset='utf-8')
	meta(name='Arvid', content='Twitterinterfrace')
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title Twitter Client
	link(rel='stylesheet', href='css/global.css', type='text/css')
	//Custom fonts
	link(href='https://fonts.googleapis.com/css?	family=Work+Sans:400,600', rel='stylesheet', type='text/css')